.note-vaigation__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  width: 15em;
}

.note-vaigation__list-item {
  font-size: 1.125em;
  line-height: 1.625em;
}

.note-vaigation__link {
  line-height: 1em;
  color: var(--content-color);
  text-decoration: none;
}

.note-vaigation__link:hover {
  text-decoration: underline;
}
