{% from 'notes-list.njk' import notesList with context %}

<main class="home-page">
  <div class="home-page__content align-container">
    
    <div class="home-page__intro">
      <h1>{{intro.title}}</h1>
      <p>Hey 👋. Welcome! My name is Radion. This is a place where I share my thoughts about design, development, and other tech stuff. It might include instructions for setting up a Linux server, how to visualize data with Three.js, or writing your own plugin for Figma. I’m writing about things that capture my attention. It could be useful for you too. It’s like my journey of discovering this world.</p>
      <p>Reach me at <a href="mailto:hey@radion.dev">hey@radion.dev</a> if you have any questions or suggestions or visit <a href="https://radion.dev">radion.dev</a> to find other ways to follow or contact me.</p>

      </p>
    </div>

    <div class="home-page__note-cards">
      {{ notesList(
          notes=collections.notes | reverse
      )}}
    </div>
    
  </div>
</main>
